@import "catppuccin.css";

/* debug this using `env GTK_DEBUG=interactive waybar` */

* {
  color: @lavender;
  border: 0;
  padding: 0 0;
  font-family: "FiraCode", "FiraCode Nerd Font";
}

window#waybar {
  border: 0px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

#workspaces button {
  color: @base;
  border-radius: 50%;
  /* background-color: @base; */
  margin: 0px 0px;
  padding: 4 6 2 0;
}

#workspaces button:hover {
  color: @mauve;
  box-shadow: none;
  /* Remove predefined box-shadow */
  text-shadow: none;
  /* Remove predefined text-shadow */
  border: 0px;
  background: none;
}

#workspaces button:hover * {
  color: @mauve;
  background-color: @base;
}

#workspaces * {
  color: whitesmoke;
}

#workspaces {
  border-style: solid;
  background-color: @base;
  opacity: 1;
  border-radius: 10px;
  margin: 8px 0px 8px 8px;
  padding: 0px 10px;
}

#workspaces button.focused {
  color: @mauve;
  border-radius: 20px;
  /* background-color: @flamingo; */
}

#workspaces button.focused * {
  color: @mauve;
}

#mode {
  color: #ebcb8b;
}

#clock,
#battery,
#bluetooth,
#cpu,
#memory,
#mode,
#disk,
#tray,
#temperature,
#backlight,
#network,
#pulseaudio,
#language,
#idle_inhibitor,
#mpd {
  padding: 5px 8px;
  border-style: solid;
  background-color: shade(@base, 1);
  opacity: 1;
  margin: 8px 0;
}

#bluetooth {
  /* Use Nerd Font for bluetooth icons */
  font-family:
    "DejaVu Sans", "FiraCode Nerd Font", "Font Awesome 6 Free",
    "Font Awesome 6 Brands";
}

#clock {
  color: @sky;
  border-radius: 10px;
  margin: 8px 10px;
}

#memory {
  border-radius: 10px 0 0 10px;
}

#cpu {
  border-radius: 0 10px 10px 0;
  margin-right: 5px;
}

#tray {
  border-radius: 10px 0 0 10px;
  margin-left: 5px;
}

#battery {
  color: @green;
  margin-right: 10px;
  border-radius: 0 10px 10px 0;
}

#battery.charging {
  color: #81a1c1;
}

#pulseaudio {
  color: @flamingo;
}

@keyframes blink {
  to {
    color: @red;
    /* border-bottom: 2px solid @red; */
  }
}

#battery.warning:not(.charging) {
  color: @yellow;
  /* border-bottom: 2px solid #81a1c1; */
}

#battery.critical:not(.charging),
#temperature.critical,
#cpu.critical,
#memory.critical {
  color: #bf616a;
  /* border-bottom: 2px solid #bf616a; */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning:not(.charging),
#temperature.warning,
#cpu.warning,
#memory.warning {
  animation-name: warning;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes warning {
  to {
    background-color: @yellow;
  }
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

tooltip {
  background-color: @crust;
  border-radius: 5px;
}

tooltip label {
  color: @text;
}
