name: "CI Build"

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-x86:
    name: Build x86 systems
    runs-on: ubuntu-latest
    strategy:
      matrix:
        configuration:
          [
            "framework-13",
            "srv-prod-1",
            "srv-prod-2",
            "srv-prod-3",
            "srv-test-1",
            "srv-test-2",
            "srv-eval-1",
            "srv-backup-1",
            "srv-offsite-1",
          ]
    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: DeterminateSystems/nix-installer-action@main
      - run: nix build .#nixosConfigurations.${{ matrix.configuration }}.config.system.build.toplevel
  build-iso:
    name: Build ISOs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: DeterminateSystems/nix-installer-action@main
      - run: nix build .#nixosConfigurations.minimal-server-iso.config.system.build.isoImage
